@import '/src/style/style.scss';

.common-block {
    margin-right: 15px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
  }

  .common-block::after{
    content: "";
    background: linear-gradient(270deg, $gray-graphite 0%, $white 48.3%, $gray-graphite 100%);
    position: absolute;
    width: 80px;
    height: 462px;
    left: -180px;
    top: -100px;
    animation: loader 1s linear 0.6s infinite;
  }

  @keyframes loader {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
  }

  .first-block{
    width: 100%;
    height: 362px;
    margin-bottom: 14px;
    background: $gray-graphite;
  }
  .second-block{
    height: 16px;
    width: 100%;
    background: $gray-graphite;
    margin-bottom: 12px;
  }

  .third-block{
    height: 16px;
    width: 132px;
    background: $gray-graphite;
  }

  @keyframes blink {
    60% { background-color: transparent }
  }

  .dots-wrapper{
    margin: 5% 35% 5% 45%;
    display: flex;
  }

  .dots { 
    animation: 1s blink infinite; 
    width: 10px;
    height: 10px;
    background-color: $sky-blue;
    margin-left: 7px;
    border-radius: 100%;
  }

  .dots:nth-child(2) { 
    animation-delay: 250ms; 
    width: 10px;
    height: 10px;
    background-color: $azure;
    color: $azure; 
  }

  .dots:nth-child(3) { 
    animation-delay: 500ms; 
    width: 10px;
    height: 10px;
    background-color: $aquamarine;
    color: $aquamarine; 
  }