.forgot-password{
    margin-left: 75%;
    text-decoration: underline;
}

.link{
    color: #161C1E;
}

.text-back{
    margin: 0 20% 0 35%; 
    color: #161C1E;
    text-decoration: underline;
    font-size: 14px;
}