@import '/src/style/style.scss';

.forgot-password{
    margin-left: 300px;
    text-decoration: underline;
}

.link{
    color: $light-black;
}

.text-back{
    margin: 0 20% 0 35%; 
    color: $light-black;
    text-decoration: underline;
    font-size: 14px;
}

.error{
    color: $red;
    margin-top: -15px;
}

.button.ant-btn:focus{
    color: $white;
}

.password-input-wrapper{
    display: flex;
}

.show-button{
    margin-left: 355px;
    position: absolute;
    margin-top: 0px;
    border: none;
    background: $white;
    color: $black;
}

.ant-btn:focus{
    color: $black;
}
