.filter-tag{
    display: flex;
    background: #F2F2F3;
    border-radius: 6px;
    padding: 7px 8px 7px 12px;
    margin: 8px 0px 0 8px;
}

.tag-cross{
    cursor: pointer;
    margin: 1px 0 0 2px;
}