.input-wrapper{
    display:flex;
}

.input {
    width: 423px;
    height: 48px;
  }

.show-button{
    margin-left: 23%;
    position: absolute;
    margin-top: 7px;
    border: none;
    background:white;
    color:black;
}

.ant-btn:focus{
    color:black;
}

.input{
    border-radius: 6px;
}
