.main-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main-logo{
    margin: 10px;
}

.main-icons{
    margin: 10px;
}

.wallet{
    margin-left: 10px;
    margin-right: 29px;
}

.main-wrapper{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
}

.default-image{
    border-radius: 100px;
}

.main-profile{
    width: 36px;
    margin-right: 38px;
}

.line{
    width: 100%;
    height: 1px;
    background: #E8E8E9;
    margin-bottom: 48px;
}