.editions-display{
    display: flex;
    flex-wrap: wrap;
}

.crop-modal .ant-btn-primary {
    background: #458FAC;
    border-radius: 6px;
    width: 63px;
    height: 40px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.crop-modal .ant-btn-default{
    width: 75px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D0D2D2;
    border-radius: 6px;
    color: #161C1E;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}