@import '/src/style/style.scss';

.editions-display{
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.crop-modal .ant-btn-primary {
    @include font-style(500, 18px, 14px);
    background: $dark-turquoise;
    border-radius: $dark-turquoise;
    width: 63px;
    height: 40px;
    color: $white;
}

.crop-modal .ant-btn-default{
    @include font-style(500, 18px, 14px);
    width: 75px;
    height: 40px;
    background: $white;
    border: 1px solid $white-gray;
    border-radius: $border-radius;
    color: $light-black;
}