@import '/src/style/style.scss';

.slick-dots{
    bottom: 25px !important;
}

.images-wrapper {
    height: 823px;
    width: 400px;
    position: relative;
  }

.images {
    position: absolute;
    left: 0;
    top: 0;
  }

.title-text{
    @include font-style(600, 56px, 46px);
    z-index: 3;
    position: absolute;
    color: $white;
    left: 30px;
    top: 250px;
}

.description-text{
    @include font-style(600, 38px, 26px);
    z-index: 3;
    position: absolute;
    color: $white;
    left: 30px;
    top: 450px;
}

.first-icon{
    z-index: 3;
    position: absolute;
    left: 50px;
    top: 650px;
    width: 150px;
}

.second-icon{
    z-index: 3;
    position: absolute;
    left: 250px;
    top: 650px;
    width: 20px;
}

.third-icon{
    z-index: 3;
    position: absolute;
    left: 330px;
    top: 650px;
    width: 120px;
}