@import '/src/style/style.scss';

.edit-profile{
    margin-left: 135px;
    &_title{
        @include font-style(500, 40px, 34px);
        color: $light-black;
        margin-bottom: 24px;
    }

    &_choose-image{
        display: flex;
        align-items: center;
    }
}

.file-input{
    display: none;
    margin-left: 10px;
}

#upload-photo {
    opacity: 0;
    z-index: -1;
    position: absolute;
 }

.upload-info{
    display: flex;
    margin-bottom: 30px;
}

.upload-file{
    @include font-style(500, 18px, 14px);
    background: $white;
    border: 1px solid $white-gray;
    border-radius: $border-radius;
    width: 108px;
    height: 36px;
    margin-left: 20px;
    color: $light-black;
    text-align: center;
    padding: 9px 12px;
    cursor: pointer;
}

.remove-image{
    @include font-style(500, 18px, 14px);
    color: $light-gray;
    margin-left: 16px;
}

.upload-image{
    width: 100px;
    border-radius: 50%;
}

.edit-profile_username{
    @include font-style(500, 28px, 20px);
    color: $light-black;
    margin-left: 20px;
    margin-bottom: 12px;
}

.modal-info{
    @include font-style(500, 34px, 28px);
    color: $light-black;
    margin-bottom: 24px;
}

.name-info{
    display: flex;
}

.name-input{
    border: 1px solid $white-gray;
    border-radius: $border-radius;
    background: $white;
    width: 323px;
    padding: 10px;
    height: 48px;
    margin-right: 24px;
    box-sizing: border-box;
    color: $light-black;
}

.email-input{
    box-sizing: border-box;
    width: 670px;
    padding: 10px;
    height: 48px;
    background: $gray-graphite;
    border: 1px solid $white-gray;
    border-radius: $border-radius;
    color: $gray-silver;
}

.about-input{
    @include font-style(400, 20px, 16px);
    box-sizing: border-box;
    color: $light-black;
    padding: 10px;
    width: 670px;
    background: $white;
    border: 1px solid $white-gray;
    border-radius: $border-radius;

    &:focus{
        outline: none;
    }
}

.edit-profile_button{
    display: flex;
}

.cancel{
    @include font-style(500, 20px, 16px);
    border: 1px solid $white-gray;
    border-radius: $border-radius;
    background: $white;
    width: 97px;
    height: 48px;
}

.save{
    background: $sky-blue;
    border-radius: $border-radius;
    width: 83px;
    height: 48px;
    margin-left: 12px;
}

.save.ant-btn-primary[disabled]{
    @include font-style(500, 20px, 16px);
    background: $aquamarine;
    border-radius: $border-radius;
    color: $white;
}

