.edit-profile{
    margin-left: 135px;
    &_title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        color: #161C1E;
        margin-bottom: 24px;
    }

    &_choose-image{
        display: flex;
        align-items: center;
    }
}

.file-input{
    display: none;
    margin-left: 10px;
}

#upload-photo {
    opacity: 0;
    z-index: -1;
    position: absolute;
 }

.upload-info{
    display: flex;
    margin-bottom: 30px;
}

.upload-file{
    background: #FFFFFF;
    border: 1px solid #D0D2D2;
    border-radius: 6px;
    width: 108px;
    height: 36px;
    margin-left: 20px;
    color: #161C1E;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 9px 12px;
    cursor: pointer;
}

.remove-image{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #7D8081;
    margin-left: 16px;
}

.upload-image{
    width: 100px;
    border-radius: 50%;
}

.edit-profile_username{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #161C1E;
    margin-left: 20px;
    margin-bottom: 12px;
}

.modal-info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px; 
    color: #161C1E;
    margin-bottom: 24px;
}

.name-info{
    display: flex;
}

.name-input{
    border: 1px solid #D0D2D2;
    border-radius: 6px;
    background: #FFFFFF;
    width: 323px;
    padding: 10px;
    height: 48px;
    margin-right: 24px;
    box-sizing: border-box;
    color: #161C1E;
}

.email-input{
    box-sizing: border-box;
    width: 670px;
    padding: 10px;
    height: 48px;
    background: #F2F2F3;
    border: 1px solid #D0D2D2;
    border-radius: 6px;
    color: #B4B6B7;
}

.about-input{
    box-sizing: border-box;
    color: #161C1E;
    padding: 10px;
    width: 670px;
    background: #FFFFFF;
    border: 1px solid #D0D2D2;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    &:focus{
        outline: none;
    }
}

.edit-profile_button{
    display: flex;
}

.cancel{
    border: 1px solid #D0D2D2;
    border-radius: 6px;
    background: #FFFFFF;
    width: 97px;
    height: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.save{
    background: #458FAC;
    border-radius: 6px;
    width: 83px;
    height: 48px;
    margin-left: 12px;
}

.save.ant-btn-primary[disabled]{
    background: #B5D2DE;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

