.tabs{
    width: 1015px;
}

.tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;   
    color: #161C1E;
}

.tabs .ant-tabs-ink-bar {
    background: #161C1E;
 }

 .tabs .ant-tabs-tab-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #7D8081;
 }