@import '/src/style/style.scss';

.filter-panel-wrapper{
    width: 400px;
    margin-right: 48px;
    margin-left: 40px;
    height: 1150px;
    // overflow-y: auto;
    position: sticky;
    top: 0;
}

.sport-type{
    &_wrapper{
        @include font-style(500, 20px, 16px);
        height: 190px;
        color: $light-black;
        overflow-y: auto;
        overflow-x:hidden;

        &::-webkit-scrollbar{
            width: 10px;
            background-color: $white;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background: $white-gray;
        }

        &::-webkit-scrollbar-track{
            border-radius: 10px;
            background-color: $white;
        }
    }

    &_item{
        width: 193px;
        margin-bottom: 12px;
    }
}

.filter-line{
    height: 1px;
    background: #E8E8E9;
    margin: 20px 0 20px 0;
}

.filter-main{
    @include font-style(500, 28px, 20px);
    color: $light-black;
    margin-top: 10px;
}

.filter-checkbox span{
    @include font-style(400, 18px, 14px);
    color: $light-black;
}

.filter-checkbox .ant-checkbox-checked .ant-checkbox-inner{
    background: $black;
    border-color: $black;
}

.ant-checkbox-input:focus+.ant-checkbox-inner, .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner{
    border-color: $black;
}

.filter-checkbox.ant-checkbox-wrapper {
    margin-top: 16px;
}

.search-input{
    border: 1px solid #D0D2D2;
    border-radius: 6px;
    width: 297px;
    height: 40px;
    margin-top: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 0px 0px 0  11px;
    outline: none;
}

.filter-wrapper{
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 6px;
        background-color: $white;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: $white-gray;
    }

    &::-webkit-scrollbar-track{
        border-radius: 10px;
        background-color: $white;
    }
}

.filter-wrapper.brand{
    height: 230px;
}