@import '/src/style/style.scss';

.tabs-wrapper{
    margin-left: 40px;
    margin-top: 48px;
}

.tab-pane_item{
    @include font-style(500, 20px, 16px);
    color: $light-black;
    padding: 10px 16px;

    svg{
        margin-right: 10px;
        margin-bottom: -3px;
        width: 20px;
    }
}

.edit-tabs .ant-tabs-ink-bar{
    display: none;
}

.edit-tabs .ant-tabs-tab-btn{
    padding: 10px 16px;
}

.edit-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    background: $gray-graphite;
    padding: 10px 16px;
    border-radius: 6px;
    width: 210px;

    .tab-pane_item{
        color: $dark-turquoise;
    }

    svg{
        margin-right: 10px;
        margin-bottom: -3px;
        path{
            fill: $dark-turquoise;
        }
    }
}

.ant-tabs-left>.ant-tabs-nav .ant-tabs-tab{
    padding: 0;
    text-align: start;
}
