.sign-in-wrapper{
    display: flex;
    width: 100%;
}

.sign-in-form{
    width: 100%;
}

.slider.slick-slider{
    width: 480px;
}

.form{ 
    margin: 0 25% 0 15%;
    width: 50%;
}

.title{
    margin: 25% 25% 0 15%;
}

.button.ant-btn{
    width: 100%;
    background: #458FAC;
    border-radius: 6px;
}

.text{
    display: flex;
    margin-left: 15%;
}

.link{
    margin-left: 2px;
    color: #161C1E;
    text-decoration: underline;
}

.text-item{
    color: #7D8081;
    margin-left: 2px;
}

.input{
    border-radius: 6px;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover{
    border-color: #161C1E;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:focus, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input-focused{
    box-shadow: none;
}

.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover{
    border-color: #161C1E;
}

.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper-focused{
    box-shadow: none;
}

.ant-form-item-explain-error{
    color: #7D8081;
}
