@import '/src/style/style.scss';

.sign-in-wrapper{
    display: flex;
    width: 100%;
}

.sign-in-form{
    width: 100%;
}

.slider.slick-slider{
    width: 480px;
}

.form{ 
    margin: 0 25% 0 15%;
    width: 432px;
}

.title{
    margin: 25% 25% 0 15%;
}

.button.ant-btn{
    width: 432px;
    background: $sky-blue;
    border-radius: $border-radius;
    height: 48px;
}

.text{
    display: flex;
    margin-left: 15%;
}

.link{
    margin-left: 2px;
    color: $light-black;
    text-decoration: underline;
}

.text-item{
    color: $light-gray;
    margin-left: 2px;
}

.logo{
    width: 142px;
    height: 32px;
    margin-top: 32px;
    margin-left: 40px;
}
