.logo{
    width: 150px;
    margin-top: 32px;
    margin-left: 40px;
}

.notif{
    margin-right: 20px;
}

.person{
    width: 36px;
    border-radius: 100%;
    margin-right: 14px;
    margin-left: 24px;
}