.logo{
    width: 127px;
    margin-top: 20px;
    margin-left: 40px;
}

.notif{
    margin-right: 20px;
}

.person{
    width: 36px;
    border-radius: 100%;
    margin-right: 14px;
    margin-left: 24px;
}

.header-line{
    height: 1px;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 48px;
    background: #E8E8E9;
}