.card-wrapper{
    width: 323px;
    margin-right: 15px;
    margin-bottom: 41px;
}

.image-wrapper{
    width: 325px;
    height: 362px;
    background: #F2F2F3;
}

.image{
    margin: 10% 0 0 17%;
}

.card-info{
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.card-info_name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #161C1E;
}

.card-info_price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #161C1E;
}

.card-open{
    width: 325px;
    height: 40px;
    background: #458FAC;
    border-radius: 6px;
}

.card-open span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.profile-image{
    margin: 5% 15% 5% 35%;
    width: 100px;
}