@import '/src/style/style.scss';

.tabs{
    width: 1015px;
}

.tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    @include font-style(500, 18px, 14px); 
    color: $light-black;
}

.tabs .ant-tabs-ink-bar {
    background: $light-black;
 }

 .tabs .ant-tabs-tab-btn{
    @include font-style(500, 18px, 14px);
    color: #7D8081;
}

.card-display{
    display: flex;
    flex-wrap: wrap;
}

#scrollableDiv {
    height: 750px;
  }