@import '/src/style/style.scss';

.tabs{
    width: 1015px;
}

.tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    @include font-style(500, 18px, 14px); 
    color: $light-black;
}

.tabs .ant-tabs-ink-bar {
    background: $light-black;
 }

 .tabs .ant-tabs-tab-btn{
    @include font-style(500, 18px, 14px);
    color: $light-gray;
}

.card-display{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 40px;
}

#scrollableDiv {
    height: 750px;
  }