.gallery-wrapper{
    width: 323px;
    margin-right: 15px;
    margin-bottom: 41px;
}

.gallery-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #161C1E;
    margin-top: 12px;
    margin-bottom: 8px;
}

.gallery-info{
    display: flex;
    justify-content: space-between;
    &_price{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #161C1E;
    }
    &_icon{
        display: flex;
        align-items: center;
    }
    &_likes{
        display: flex;
        align-items: center;
        margin-right: 5px;
    }

    &_flag{
        margin-right: 5px;
    }
}

.likes-count{
    margin-left: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    text-align: right;
    color: #7D8081;
}

.copy{
    display: flex;
    &_text{
        color: #161C1E;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-left: 10px;
    }
}