@import '/src/style/style.scss';

.gallery-wrapper{
    // width: 300px;
    margin-right: 20px;
    margin-left: 15px;
    margin-bottom: 40px
}

.gallery-name{
    @include font-style(500, 20px, 16px);
    color: $light-black;
    margin-top: 12px;
    margin-bottom: 8px;
}

.gallery-info{
    display: flex;
    justify-content: space-between;
    &_price{
        @include font-style(400, 20px, 16px);
        color: $light-black;
    }
    &_icon{
        display: flex;
        align-items: center;
    }
    &_likes{
        display: flex;
        align-items: center;
        margin-right: 5px;
    }

    &_flag{
        margin-right: 5px;
    }
}

.likes-count{
    @include font-style(500, 18px, 17px);
    margin-left: 3px;
    text-align: right;
    color: $light-gray;
}

.copy{
    display: flex;
    &_text{
        @include font-style(500, 18px, 14px);
        color: $light-black;
        margin-left: 10px;
    }
}