@import '/src/style/style.scss';

.profile{
    width: 297px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.profile-name{
    @include font-style(500, 28px, 20px);
    text-align: center;
    margin-bottom: 8px;
    color: $light-black;
}

.profile-email{
    @include font-style(400, 18px, 14px);
    text-align: center;
    color: $light-gray;
}

.wallet-button{
    background: $sky-blue;
    border-radius: $border-radius;
    height: 40px;
    margin-bottom: 16px;
    margin-top: 24px;
}

.wallet-button span{
    @include font-style(500, 18px, 14px);
    color: $white;
}

.edit-button{
    height: 40px;
    background: $white;
    border: 1px solid $white-gray;
    border-radius: $border-radius;
    margin-bottom: 24px;
}

.edit-button span{
    @include font-style(500, 18px, 14px);
    color: $light-black;
}

.profile-description{
    @include font-style(400, 22px, 14px);
    color: $light-black;
}

.email-logo{
    width: 90px;
    height: 90px;
    border:  1px solid $black;
    border-radius: 100%;
    text-align: center;
    margin-left: 35%;
    font-size: 40px;
}
