@import '/src/style/style.scss';

.input-wrapper {
    position: relative;
    margin-top: 6px;
  }
  
.default-input {
    @include font-style(400, 20px, 16px);
    outline: none;
}

.pocket {
    background-color: $white;
    border-radius: $border-radius;
    left: 20px;
    position: absolute;
    top: -11px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 70px;
    height: 10px;
}

.default-input:focus ~ .pocket,
.default-input:not(:placeholder-shown) ~ .pocket {
    transform: translateY(5px);
}

.label {
    @include font-style(400, 16px, 13px);
    color: $light-gray;
    left: 20px;
    position: absolute;
    transition: transform 200ms;
    top: 16px;
    transform-origin: 0 50%;
}
  
  .default-input:focus ~ .label,
  .default-input:not(:placeholder-shown) ~ .label {
    transform: translateY(-25px) translateX(10px) scale(0.75);
  }
  
  